.about {
  background: linear-gradient(182deg, #765c5c, transparent);
  padding: 70px 0;

  &__title {
    text-align: center;
    margin-bottom: 30px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    max-width: 400px;
    margin-right: 50px;
    box-shadow: 10px 10px 10px 0px #0e0d0d;
  }

  &__box {
    position: relative;
    width: 300px;
    height: 300px;
    margin-right: 40px;
    z-index: 2;

    & span {
      position: absolute;
      inset: 0;
      transition: 0.5s;
      background-image: url('../images/sergio.jpg');
      background-size: cover;
    }

    & span:nth-child(1) {
      clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
      transition-delay: 0s;
    }

    &:hover span:nth-child(1) {
      transform: translate(-4px, -35px) rotate(-20deg);
    }

    & span:nth-child(2) {
      clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
      transition-delay: 0.25s;
    }

    &:hover span:nth-child(2) {
      transform: translate(1px, -63px) rotate(29deg);
    }

    & span:nth-child(3) {
      clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0 100%);
      transition-delay: 0.5s;
    }

    &:hover span:nth-child(3) {
      transform: translate(3px, 70px) rotate(13deg);
    }

    & span:nth-child(4) {
      clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
      transition-delay: 0.75s;
    }

    &:hover span:nth-child(4) {
      transform: translate(25px, 60px) rotate(-10deg);
    }
  }

  &__text {
    max-width: 500px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: -25px;
      right: 15px;
      background-image: url('../images/decor.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 131px;
      height: 160px;
      transform: rotate(21deg);
      animation-duration: 2s;
      animation-name: opacity;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.6;
  }
}

@media (max-width: 900px) {
  .about {

    &__wrapper {
      display: block;
    }

    &__box {
      margin: 0px auto 80px;
    }

    &__text {
      margin: 0 auto;
    }
  }
}