//подключение базовых стилей
@import 'common/vars';
@import 'common/fonts';
@import 'common/reset';
@import 'common/libs';
@import 'common/global';


//подключение компонентов
@import 'components/burger';

//header
@import '_header.scss';

//main
@import '_about.scss';

//footer