<section class="about" id="about">
  <div class="container">
    <h2 class="about__title title">
      Обо мне
    </h2>

    <div class="about__wrapper">
      <img class="about__img" src="images/sergio.jpg" alt="Барбер Серджио">

      <p class="about__text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero excepturi numquam possimus quibusdam commodi cumque delectus rem esse fugit nihil repudiandae perferendis autem neque veniam, itaque deserunt molestiae beatae. Temporibus!
        Dolorem vel dolorum dolore reprehenderit cum molestiae ducimus veniam maxime nisi quod vero, optio architecto minus mollitia. Voluptas, delectus aut, ratione eveniet laboriosam sit ipsum itaque, quis pariatur labore molestias!
      </p>
    </div>
  </div>
</section>