<footer class="footer" id="contacts">
  <div class="container">
    <h3 class="footer__title title">
      Мои контакты
    </h3>
      
      <ul class="footer__items">
        <li class="footer__item" style="--clr:#1877f2;">
          <a class="footer__link" href="#" target="_blank">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
        </li>

        <li class="footer__item" style="--clr:#ff0000;">
          <a class="footer__link" href="#" target="_blank">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </li>

        <li class="footer__item" style="--clr:#1da1f2;">
          <a class="footer__link" href="#" target="_blank">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>

        <li class="footer__item" style="--clr:#c32aa3;">
          <a class="footer__link" href="#" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>

        <li class="footer__item" style="--clr:#25d366;">
          <a class="footer__link" href="#" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
        </li>
      </ul>

  </div>
</footer>