<header class="header" style="background-image: url('images/headerbg.jpg');">
  <div class="header__top">
    <div class="container">
      <nav class="header__nav">
        <a class="header__logo" href="#">
          <img class="logo__img" src="images/logo.jpg" alt="ЛогоСерджи">
        </a>

        <ul class="header__items">
          <li class="header__item">
            <a class="header__link" href="#about">Обо мне</a>
          </li>

          <li class="header__item">
            <a class="header__link" href="#">Работы</a>
          </li>

          <li class="header__item">
            <a class="header__link" href="#">Видео</a>
          </li>

          <li class="header__item">
            <a class="header__link" href="#">Услуги</a>
          </li>

          <li class="header__item">
            <a class="header__link" href="#">Отзывы</a>
          </li>

          <li class="header__item">
            <a class="header__link" href="#">Контакты</a>
          </li>
        </ul>

        <ul class="header__list">
          <li class="header__item-language language">
            <a class="language-ru" href="#"></a>
          </li>

          <li class="header__item-language language">
            <a class="language-est" href="#"></a>
          </li>
        </ul>

        <a href="tel:+37255557576" class="header__tel">
          +372 55 55 7576
        </a>

        <button class="header__burger burger">
          <span class="sr-only">Открыть меню</span>
          <span class="burger__line"></span>
        </button>
      </nav>
    </div>
  </div>

  <div class="header__container container">
    <h1 class="header__title">
      Привет я Сергей , <br>
      <span>barber профессионал</span>
      
    </h1>
  </div>
</header>