<section class="reviews" id="reviews">
  <div class="container">
    <h3 class="reviews__title title">
      Отзывы Клиентов
    </h3>

    <p class="reviews__text">
      Здесть вы можете увидеть и ознакомиться с отзывами ниших клиентов.
    </p>

    <p class="reviews__text">
      А так же оставить свой отзыв о работе и в целом о стрижке.
    </p>

    <div class="reviews__content content">
      <div class="content__box">
        <img class="content__img" src="images/avatar/1.jpg" alt="аватарка пользователя">
        <div class="content__wrapper">
          <p class="content__name">Вован</p>
          <span>10.06.2021</span>
        </div>
        <div class="content__star star" data-rateyo-rating="5" data-rateyo-read-only="true"></div>
      </div>
      <p class="content__text">
        Благодарю мастера за хорошую и качественную стрижку, если быть честным, лучшая стрижка моя.
      </p>
    </div>

    <div class="reviews__content content">
      <div class="content__box">
        <img class="content__img" src="images/avatar/1.jpg" alt="аватарка пользователя">
        <div class="content__wrapper">
          <p class="content__name">Вован</p>
          <span>10.06.2021</span>
        </div>
        <div class="content__star star" data-rateyo-rating="4" data-rateyo-read-only="true"></div>
      </div>
      <p class="content__text">
        Благодарю мастера за хорошую и качественную стрижку, если быть честным, лучшая стрижка моя.
      </p>
    </div>

    <div class="reviews__content content">
      <div class="content__box">
        <img class="content__img" src="images/avatar/1.jpg" alt="аватарка пользователя">
        <div class="content__wrapper">
          <p class="content__name">Вован</p>
          <span>10.06.2021</span>
        </div>
        <div class="content__star star" data-rateyo-rating="5" data-rateyo-read-only="true"></div>
      </div>
      <p class="content__text">
        Благодарю мастера за хорошую и качественную стрижку, если быть честным, лучшая стрижка моя.
      </p>
    </div>

    <form class="reviews__form form">
      <h4 class="form__title title">
        Оставить отзыв
      </h4>

      <div class="form__rating">
        <span class="form__rating-title">Ваша оценка *</span>
        <div class="star"></div>
      </div>

      <div class="form__inner">
        <div class="form__box-textarea">
          <textarea class="form__textarea" type="text" required></textarea>
          <span class="form__name">Ваш отзыв</span>
        </div>

        <div class="form__box-wrapper">
          <div class="form__box-input">
            <input class="form__input" type="text" required>
            <span class="form__name">Имя</span>
          </div>

          <div class="form__box-input">
            <input class="form__input" type="email" required>
            <span class="form__name">Email*</span>
          </div>
        </div>
      </div>

      <button class="form__btn">
        Оставить отзыв
      </button>
    </form>
  </div>
</section>