<section class="services" id="services">
  <div class="container">
    <h3 class="services__title title">
      Услуги
    </h3>

    <p class="services__text">
      Наш Барбершоп — это намного больше, чем типичная сетевая парикмахерская.

      Наша задача — не просто подстричь клиента, а создать его полноценный имидж. Мы не ограничиваемся только прической.
      Ведь борода, щетина и усы формируют образ мужчины даже более выразительно, чем его шевелюра.

      При работе с клиентом мы используем только профессиональные парикмахерские инструменты и косметическую продукцию
      высшего класса.
    </p>
  </div>
</section>