<section class="services" style="background-image: url('images/servicesbg.jpg');" id="services">
  <div class="container">
    <h3 class="services__title title">
      Услуги
    </h3>

    <p class="services__text">
      Наш Барбершоп — это намного больше, чем типичная сетевая парикмахерская.

      Наша задача — не просто подстричь клиента, а создать его полноценный имидж. Мы не ограничиваемся только прической.
      Ведь борода, щетина и усы формируют образ мужчины даже более выразительно, чем его шевелюра.

      При работе с клиентом мы используем только профессиональные парикмахерские инструменты и косметическую продукцию
      высшего класса.
    </p>

    <ul class="services__items services__items-text">
      <li class="services__item">
        Услуга <span>Цена</span>
      </li>

      <li class="services__item">
        Стрижка ножницами <span>50$</span>
      </li>

      <li class="services__item">
        Стрижка машинкой (вся голова) <span>50$</span>
      </li>

      <li class="services__item">
        Оформление бороды <span>50$</span>
      </li>

      <li class="services__item">
        Детская стрижка (до 12 лет) <span>50$</span>
      </li>

      <li class="services__item">
        Тонирование голова / борода <span>50$</span>
      </li>
    </ul>
  </div>
</section>