<section class="video" id="video">
  <div class="container">
    <h3 class="video__title title">
      Мои видео
    </h3>

    <p class="video__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem maiores dolore consectetur sint, ab ut modi, voluptatibus enim quod, sunt ratione nostrum? Corporis eligendi, ex iste itaque vel accusamus doloribus!
    </p>

    <ul class="video__list">
      <li class="video__item">
        <a class="video__link" data-fancybox href="https://youtu.be/r9lvNDkQhd4">
          <img class="video__img" src="images/video/1.gif" alt="картинка">
        </a>
      </li>

      <li class="video__item">
        <a class="video__link" data-fancybox href="https://youtu.be/r9lvNDkQhd4">
          <img class="video__img" src="images/video/2.gif" alt="картинка">
        </a>
      </li>

      <li class="video__item">
        <a class="video__link" data-fancybox href="https://youtu.be/r9lvNDkQhd4">
          <img class="video__img" src="images/video/1.gif" alt="картинка">
        </a>
      </li>

      <li class="video__item">
        <a class="video__link" data-fancybox href="https://youtu.be/r9lvNDkQhd4">
          <img class="video__img" src="images/video/2.gif" alt="картинка">
        </a>
      </li>

      <li class="video__item">
        <a class="video__link" data-fancybox href="https://youtu.be/r9lvNDkQhd4">
          <img class="video__img" src="images/video/1.gif" alt="картинка">
        </a>
      </li>

      <li class="video__item">
        <a class="video__link" data-fancybox href="https://youtu.be/r9lvNDkQhd4">
          <img class="video__img" src="images/video/2.gif" alt="картинка">
        </a>
      </li>
    </ul>
  </div>
</section>