<section class="works" style="background-image: url('images/worksbg.jpg');" id="works">
  <div class="container">
    <h3 class="works__title title">
      Мои Работы
    </h3>

    <p class="works__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis laudantium harum deleniti fugiat quibusdam,
      dicta iure laborum similique eum aliquid sapiente excepturi dolorum eveniet pariatur nostrum eaque velit nemo
    </p>

    <p class="works__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis laudantium harum deleniti fugiat quibusdam,
      dicta iure laborum similique eum aliquid sapiente excepturi dolorum eveniet pariatur nostrum eaque velit nemo
      deserunt?
      Quidem voluptatem rerum nemo? Adipisci magnam nam molestiae minus hic ullam nemo fugit doloribus.
    </p>

    <div id="carousel">
      <div id="drag-container">
        <div id="spin-container">
          <a href="images/works/1.jpg" data-fancybox="gallery"><img src="images/works/1.jpg" alt=""></a>
          <a href="images/works/2.jpg" data-fancybox="gallery"><img src="images/works/2.jpg" alt=""></a>
          <a href="images/works/3.jpg" data-fancybox="gallery"><img src="images/works/3.jpg" alt=""></a>
          <a href="images/works/4.jpg" data-fancybox="gallery"><img src="images/works/4.jpg" alt=""></a>
          <a href="images/works/5.jpg" data-fancybox="gallery"><img src="images/works/5.jpg" alt=""></a>
          <p>My Works</p>
        </div>
        <div id="ground"></div>
      </div>
    </div>

    <a class="works__link" href="#">
      Все работы
    </a>
  </div>
</section>