<section class="works" style="background-image: url('images/worksbg.jpg');">
  <div class="container">
    <h3 class="works__title title">
      Мои Работы
    </h3>

    <p class="works__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis laudantium harum deleniti fugiat quibusdam,
      dicta iure laborum similique eum aliquid sapiente excepturi dolorum eveniet pariatur nostrum eaque velit nemo
      deserunt?
      Quidem voluptatem rerum nemo? Adipisci magnam nam molestiae minus hic ullam nemo fugit doloribus, perferendis
      illum vitae saepe amet facilis? Qui maxime quibusdam minima alias maiores deleniti ullam sit dolorum.
      Minima iusto, quibusdam sequi deserunt eveniet repellendus ipsa. Excepturi dolore nisi officiis illum officia
      consectetur velit in nesciunt. Commodi laudantium ratione delectus provident perspiciatis nobis numquam est,
      distinctio possimus sequi!
    </p>

    <p class="works__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis laudantium harum deleniti fugiat quibusdam,
      dicta iure laborum similique eum aliquid sapiente excepturi dolorum eveniet pariatur nostrum eaque velit nemo
      deserunt?
      Quidem voluptatem rerum nemo? Adipisci magnam nam molestiae minus hic ullam nemo fugit doloribus, perferendis
      illum vitae saepe amet facilis? Qui maxime quibusdam minima alias maiores deleniti ullam sit dolorum.
      Minima iusto, quibusdam sequi deserunt eveniet repellendus ipsa. Excepturi dolore nisi officiis illum officia
      consectetur velit in nesciunt. Commodi laudantium ratione delectus provident perspiciatis nobis numquam est,
      distinctio possimus sequi!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis laudantium harum deleniti fugiat quibusdam,
      dicta iure laborum similique eum aliquid sapiente excepturi dolorum eveniet pariatur nostrum eaque velit nemo
      deserunt?
      Quidem voluptatem rerum nemo? Adipisci magnam nam molestiae minus hic ullam nemo fugit doloribus, perferendis
    </p>

    <div id="carousel">
      <div id="drag-container">
        <div id="spin-container">
          <a href="images/works/1.jpg" target="_blank"><img src="images/works/1.jpg" alt=""></a>
          <a href="images/works/2.jpg" target="_blank"><img src="images/works/2.jpg" alt=""></a>
          <a href="images/works/3.jpg" target="_blank"><img src="images/works/3.jpg" alt=""></a>
          <a href="images/works/4.jpg" target="_blank"><img src="images/works/4.jpg" alt=""></a>
          <a href="images/works/5.jpg" target="_blank"><img src="images/works/5.jpg" alt=""></a>
          <a href="images/works/1.jpg" target="_blank"><img src="images/works/1.jpg" alt=""></a>
          <a href="images/works/2.jpg" target="_blank"><img src="images/works/2.jpg" alt=""></a>
          <a href="images/works/3.jpg" target="_blank"><img src="images/works/3.jpg" alt=""></a>
          <a href="images/works/4.jpg" target="_blank"><img src="images/works/4.jpg" alt=""></a>
          <a href="images/works/5.jpg" target="_blank"><img src="images/works/5.jpg" alt=""></a>
          <p>MyWorks</p>
        </div>
        <div id="ground"></div>
      </div>
    </div>
  </div>
</section>