html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: var(--bg);
}

body.lock {
  overflow: hidden;
  position: relative;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1300px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 45px;
  line-height: 1.5;
  letter-spacing: 5px;
  text-shadow: 2px 2px 5px;
}

.logo {
  margin-right: 10px;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 6px -3px 11px #cb4747;
  }
}